<p *ngIf = "!(posts$ | async)"> loading posts... </p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
       {{post.body}}   
    </mat-expansion-panel>
 </mat-accordion>